header {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: rgba(11, 28, 43, 0.25) 0px 0px 10px 0px;
  padding: 0 var(--padding-content);
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header .header-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

header .logo {
  font-size: 24px;
  color: #585b64;
  font-weight: bold;
  cursor: pointer;
}

header .navigator {
  height: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .navigator > li {
  margin-left: 30px;
  color: #858997;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link {
  color: var(--contrast-color);
}

.nav-link:hover,
.nav-link.active:hover {
  color: #cf7814;
}

.wallet:hover {
  color: rgb(12, 88, 175);
  transition: all 0.5s ease;
}

.nav-link.active {
  color: rgb(66, 169, 233);
}

header .navigator .split {
  width: 1px;
  height: 15px;
  border-left: 1px solid rgb(175, 175, 175);
  pointer-events: none;
}

.wallet-area {
  display: flex;
  align-items: center;
}

.btn-connect-wallet {
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  padding: 7px 12px;
  background-color: rgb(31, 124, 231);
  border-radius: 15px;
  cursor: pointer;
}

.wallet-info {
  font-size: 14px;
  display: flex;
  font-weight: normal;
  color: white;
  border-radius: 15px;
  align-items: center;
  background-color: var(--contrast-color);
  padding: 3px;
}

.account-balance {
  background-color: var(--primary-color);
  padding: 3px 10px;
  border-radius: 15px;
}

.account-address {
  font-size: 13px;
  padding: 3px 10px 3px 5px;
}

.network {
  padding: 3px 8px;
  margin-right: 5px;
  font-size: 12px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  cursor: pointer;
}

.user-account {
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  border-radius: 100%;
  background-color: #cf7814;
  border: 1px solid rgba(102, 102, 102, 0.35);
  cursor: pointer;
}

.user-menu {
  width: 180px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 40px;
}

.user-menu li {
  font-weight: 600;
  color: #525252;
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 35px;
}

.user-menu li:hover {
  background-color: rgb(240, 240, 240);
}

.user-menu-icon {
  font-weight: 600;
  font-size: 22px;
  margin-right: 15px;
}