:root {
  --primary-color: #0b0c26;
  --primary-color-alpha: #0b0c26dd;
  --padding-content: 5%;
}

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.global-wrapper {
  background-color: white;
  position: relative;
}

.element-wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hide {
  display: none;
}

.section-layout {
  padding: 80px var(--padding-content);
  width: 100%;
}

.section-title {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  color: #646464;
}

ul {
  list-style: none;
}
