:root {
  --primary-color: #3e2d86;
  --contrast-color: #858997;
  --padding-content: 5%;
}

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.global-wrapper {
  background-color: white;
  position: relative;
}

.element-wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hide {
  display: none !important;
}

.section-layout {
  padding: 80px var(--padding-content);
  width: 100%;
}

.section-title {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  color: #646464;
}

ul {
  list-style: none;
}

.card-view {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 20px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  padding: 10px 0;
}
